In [26]:
#Load the required Libraries 
import numpy as np
import pandas as pd
from numpy import log2 as log

In [27]:
eps = np.finfo(float).eps

In [28]:
#Given Dataset
dataset = {
'Id':[1,2,3,4,5,6,7,8,9,10,11,12,13,14],
'Age':['<21','<21','21-35','>35','>35','>35','21-35','<21','<21','>35','<21','21-35','21-35','>35'],
'Income':['High','High','High','Medium','Low','Low','Low','Medium','Low','Medium','Medium','Medium','High','Medium'],
'Gender':['Male','Male','Male','Male','Female','Female','Female','Male','Female','Female','Female','Male','Female','Male'],
'MaritalStatus':['Single','Married','Single','Single','Single','Married','Married','Single','Married','Single','Married','Married','Single','Married'],
'Buys':['No','No','Yes','Yes','Yes','No','Yes','No','Yes','Yes','Yes','Yes','Yes','No']}

In [29]:
#dataframe
df = pd.DataFrame(dataset,columns=['Id','Age','Income','Gender','MaritalStatus','Buys'])

In [30]:
#print the dataframe
df

    Id    Age  Income  Gender MaritalStatus Buys
0    1    <21    High    Male        Single   No
1    2    <21    High    Male       Married   No
2    3  21-35    High    Male        Single  Yes
3    4    >35  Medium    Male        Single  Yes
4    5    >35     Low  Female        Single  Yes
5    6    >35     Low  Female       Married   No
6    7  21-35     Low  Female       Married  Yes
7    8    <21  Medium    Male        Single   No
8    9    <21     Low  Female       Married  Yes
9   10    >35  Medium  Female        Single  Yes
10  11    <21  Medium  Female       Married  Yes
11  12  21-35  Medium    Male       Married  Yes
12  13  21-35    High  Female        Single  Yes
13  14    >35  Medium    Male       Married   No

In [31]:
#Remove id Columns which is of no use
df = df.drop('Id',axis=1)
df

      Age  Income  Gender MaritalStatus Buys
0     <21    High    Male        Single   No
1     <21    High    Male       Married   No
2   21-35    High    Male        Single  Yes
3     >35  Medium    Male        Single  Yes
4     >35     Low  Female        Single  Yes
5     >35     Low  Female       Married   No
6   21-35     Low  Female       Married  Yes
7     <21  Medium    Male        Single   No
8     <21     Low  Female       Married  Yes
9     >35  Medium  Female        Single  Yes
10    <21  Medium  Female       Married  Yes
11  21-35  Medium    Male       Married  Yes
12  21-35    High  Female        Single  Yes
13    >35  Medium    Male       Married   No

In [32]:
# Calculate the Cost Function that is Entropy
# a function that takes in class (target variable vector) and finds the entropy of that class
# Buys is Target Variable Vector
def find_entropy(df):
    Class = df.keys()[-1]   #To make the code generic, changing target variable class name
    entropy = 0
    values = df[Class].unique()
    for value in values:
        fraction = df[Class].value_counts()[value]/len(df[Class])
        entropy += -fraction*np.log2(fraction)
    return entropy

In [33]:
#Find entropy of the attribute (Each Columns)
def find_entropy_attribute(df,attribute):
    Class = df.keys()[-1]   #To make the code generic, changing target variable class name
    target_variables = df[Class].unique()  #This gives all 'Yes' and 'No'
    variables = df[attribute].unique()    #This gives different features in that attribute (like 'Hot','Cold' in Temperature)
    entropy2 = 0
    for variable in variables:
        entropy = 0
        for target_variable in target_variables:
            num = len(df[attribute][df[attribute]==variable][df[Class] ==target_variable])
            den = len(df[attribute][df[attribute]==variable])
            fraction = num/(den+eps)
            entropy += -fraction*log(fraction+eps)
        fraction2 = den/len(df)
        entropy2 += -fraction2*entropy
    return abs(entropy2)

In [34]:
# FInd the Root Node
def find_winner(df):
    Entropy_att = []
    IG = []
    for key in df.keys()[:-1]:
#Entropy_att.append(find_entropy_attribute(df,key))
        IG.append(find_entropy(df)-find_entropy_attribute(df,key))
    return df.keys()[:-1][np.argmax(IG)]

In [35]:
# Find the leaf Nodes
def get_subtable(df, node,value):
    return df[df[node] == value].reset_index(drop=True)

In [36]:
# Build Tree
def buildTree(df,tree=None): 
    Class = df.keys()[-1]   #To make the code generic, changing target variable class name
    
    #Here we build our decision tree

    #Get attribute with maximum information gain
    node = find_winner(df)
    
    #Get distinct value of that attribute e.g Salary is node and Low,Med and High are values
    attValue = np.unique(df[node])
    
    #Create an empty dictionary to create tree    
    if tree is None:                    
        tree={}
        tree[node] = {}
    
   #We make loop to construct a tree by calling this function recursively. 
    #In this we check if the subset is pure and stops if it is pure. 

    for value in attValue:
        
        subtable = get_subtable(df,node,value)
        clValue,counts = np.unique(subtable['Buys'],return_counts=True)                        
        
        if len(counts)==1:#Checking purity of subset
            tree[node][value] = clValue[0]                                                    
        else:        
            tree[node][value] = buildTree(subtable) #Calling the function recursively 
                   
    return tree

In [39]:
#Check the function
tree = buildTree(df)

In [40]:
tree

{'Age': {'21-35': 'Yes',
  '<21': {'Gender': {'Female': 'Yes', 'Male': 'No'}},
  '>35': {'MaritalStatus': {'Married': 'No', 'Single': 'Yes'}}}}

In [41]:
#algorithm to predict using this tree structure
def predict(inst,tree):
    #This function is used to predict for any input variable 
    
    #Recursively we go through the tree that we built earlier

    for nodes in tree.keys():        
        
        value = inst[nodes]
        tree = tree[nodes][value]
        prediction = 0
            
        if type(tree) is dict:
            prediction = predict(inst, tree)
        else:
            prediction = tree
            break;                            
        
    return prediction

In [42]:
inst = df.iloc[6]

In [43]:
inst

Age                21-35
Income               Low
Gender            Female
MaritalStatus    Married
Buys                 Yes
Name: 6, dtype: object

In [44]:
#Get Prediction
Prediction = predict(inst,tree)

In [45]:
Prediction

'Yes'

In [46]:
# Test on the New Data
data = {'Age':'<21','Income':'Low','Gender':'Female','MaritalStatus':'Married'}

In [47]:
data

{'Age': '<21', 'Gender': 'Female', 'Income': 'Low', 'MaritalStatus': 'Married'}

In [48]:
NewPrediction = predict(data,tree)

In [49]:
NewPrediction

'Yes'