In [170]:
import pandas as pd
import numpy as np

In [171]:
data = pd.read_csv("knn.csv")

In [172]:
data

   x  y     Class
0  2  4  Negative
1  4  2  Negative
2  4  4  Positive
3  4  6  Negative
4  6  2  Positive
5  6  4  Negative

In [173]:
dx = data['x']

In [174]:
dy = data['y']

In [175]:
pos_x= pos_y=neg_x= neg_y=n1=n2=0

for index,row in data.iterrows():
    if row['Class']=="Positive":
        pos_x += row['x']
        pos_y += row['y']
        n1 = n1+1
        
    else:
        neg_x += row['x']
        neg_y += row['y']
        n2 = n2+1

In [176]:
q1 = [6,6]

In [177]:
def Average(lst,n1): 
    return (lst) / n1

In [178]:
avg_nx = Average(neg_x,n2)
avg_ny = Average(neg_y,n2)

avg_px = Average(pos_x,n1)
avg_py = Average(pos_y,n1)

n1= [avg_nx,avg_ny]
n2= [avg_px,avg_py]

In [179]:
from sklearn.metrics.pairwise import euclidean_distances

In [180]:
val1 = euclidean_distances( q1, n1)
val2=  euclidean_distances( q1, n2)

/home/administrator/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/home/administrator/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/home/administrator/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/home/administrator/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

In [181]:
val1

array([[ 2.82842712]])

In [182]:
val2

array([[ 3.16227766]])

In [183]:
if n1<n2:
    print(" Heyy Class is Negative")
else:
    print(" Heyy Class is positive")

 Heyy Class is Negative